@font-face {
    font-family: 'myFont';
    src: url('./my-font.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

.hello{
    color:red;
    background: url("./icon.png");
    font-family:myFont;
}
body{
    /*background: blue;*/
    background: red;
}
